.box {
    margin: 10px 0px;
}

.box-name {
    cursor: pointer;
}

.box:hover {
    opacity: 0.8;
}

.content {
    width: 100%;
    height: 200px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.brown {
    background-color: brown;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.hide-block {
    display: none;
}